@import "./styles/config.module.scss";

body {
  background-color: $bgBlue;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.list {
  border: solid 4px $bgBlueDark;
  border-radius: $roundedLg;
  box-shadow: 12px 15px 15px -5px $bgBlueDarkShadow;
  padding: 5% 10%;
  list-style-type: none;
  display: flex;
  gap: 2rem;
  max-width: fit-content;
}
